<!-- 评论模板 -->
<template id="comment-template">
    <div  class="">
        <div class="mb-2">
            <img class=" w-10 h-10 rounded-full inline-block mr-4 border" :src="`https://cdn.v2ex.com/gravatar/${getData().Mail}`" alt="">
            <span class=" font-bold">
                <span v-if="getData().Anonymous">匿名用户</span>
                <span v-else v-text="getData().User"><span class=" text-blue-300 mx-2" v-text="getData().Mail"></span></span>
            </span>
            <span class=" mx-1 text-gray-400">•</span>
            <span class=" text-gray-400" v-text="formatDate(getData().CreatedAt)"></span>
        </div>
        <div class="mt-2 mb-4">
            <span v-if="getData().ParentID" class=" text-theme" v-text="`@${getData().ParentUser || '匿名用户'}`"></span>
            <span v-text="getData().Content"></span>
        </div>
        <div @click="reply = !reply" :class="reply ? 'text-theme' : ''" class=" inline-flex hover:text-theme items-center text-gray-500 text-sm cursor-pointer">
            <span class=" mr-1">回复</span>
            <i class="eva eva-undo-outline"></i>
        </div>
        <div class="mt-4" v-scope="commentForm(getData())" @mounted="mounted" v-if="reply"></div>

        <ul class=" my-2 pl-14" v-if="getData().Children">
            <li v-for="(item, index) in getData().Children" :key="index">
                <div v-scope="RenderComment(`${key}-${index}`)" class="pt-2"></div>
            </li>
        </ul>
    </div>
</template>
<!-- 评论模板 end -->

<!-- 表单模板 -->
<template id="comment-form-template">
    <div style="font-size: 0;">
        <div v-if="!anonymous" class=" text-base md:flex justify-between mb-3 relative">
            <input :disabled="store.loading" v-model="form.name" id="comment-form-name" class=" md:w-1 w-full md:inline-block block md:mb-0 mb-3 md:mr-3 flex-grow border px-3 py-1 md:py-2 rounded focus:border-theme bg-gray-50" type="text" placeholder="昵称">
            <input :disabled="store.loading" v-model="form.site" id="comment-form-site" class=" md:w-1 w-full md:inline-block block md:mb-0 mb-3 md:mr-3 flex-grow border px-3 py-1 md:py-2 rounded focus:border-theme bg-gray-50" type="text" placeholder="网站">
            <input :disabled="store.loading" v-model="form.mail" id="comment-form-mail" class=" md:w-1 w-full md:inline-block block md:mb-0 mb-3 flex-grow border px-3 py-1 md:py-2 rounded focus:border-theme bg-gray-50" type="text" placeholder="邮箱">
        </div>
        <textarea :disabled="store.loading" v-model="form.content" id="comment-form-content" class=" text-base w-full border px-4 py-3 rounded outline-none focus:border-theme bg-gray-50" :placeholder="!data.ID ? '来吐槽一下吧！（支持 markdown）' : `回复给：${data.User || '匿名用户'}`" cols="30" rows="5"></textarea>
        <div class=" relative flex items-center justify-between mt-3">
            <div>
                <input :disabled="store.loading" class=" hidden owo-btn-input" type="checkbox" :id="`owo-btn-input-${data.ID}`">
                <label class=" text-base mr-3 owo-btn border rounded cursor-pointer md:inline-block hidden px-2 py-1 items-center justify-center" :for="`owo-btn-input-${data.ID}`">
                    表情包
                </label>
                <div class="owo-box z-10 pointer-events-none rounded absolute md:left-20 left-0 md:bottom-0 md:top-auto top-10 max-w-full w-80 overflow-hidden text-base bg-white transition duration-300 ease-[ease] translate-x-5 opacity-0" id="owo-box">
                    <div class=" border-b p-3 h-40 overflow-y-scroll" id="owo-face">
                        <div @click="addOwo(item)" v-for="(item, index) in owoData[currentOwo].container" :key="index" :title="item.text || item" class="m-1 p-1 rounded border inline-block text-sm cursor-pointer" v-html="item.icon || item"></div>
                    </div>
                    <div id="owo-tab">
                        <div class=" inline-block" :data-owo-key="item.name" v-for="(item, index) in owoData">
                            <input v-model="currentOwo" :value="index" class="hidden" type="radio" name="owo" :id="`owo-tab-${item.name}-${data.ID}`">
                            <label class="px-2 py-1 text-sm inline-block" :for="`owo-tab-${item.name}-${data.ID}`" v-text="item.name"></label>
                        </div>
                    </div>
                </div>
                <div class="text-base mr-2 inline-flex items-center">
                    <label class="mr-1" :for="`comment-anonymous-${data.ID}`">匿名评论</label>
                    <input :disabled="store.loading" v-model="anonymous" class="comment-anonymous" :id="`comment-anonymous-${data.ID}`" type="checkbox">
                </div>
            </div>
            <button :disabled="store.loading" @click="submit(data.ID)" id="comment-form-submit" class="text-base bg-theme text-white dark:text-darkText px-3 py-2 rounded cursor-pointer">提交</button>
        </div>
    </div>
</template>
<!-- 表单模板end -->

<div id="comment-app" v-scope="initComment()">
    <div class=" text-2xl mb-4" id="comment-count" v-text="store.data.count ? `当前共有 ${store.data.count} 条评论` : '当前还没有评论'"></div>
    <div v-scope="commentForm({})" @mounted="mounted"></div>

    <div class="mt-6" @mounted="mounted">
        <div v-if="!store.loadingText && store.data.comment.length">
            <div class="mb-6" v-for="(item, index) in store.data.comment" :key="index">
                <div v-scope="RenderComment(`${index}`)"></div>
            </div>
        </div>
        <div v-else>
            <div class="text-center text-gray-500 my-10" v-text="store.loadingText || '暂无评论'"></div>
        </div>
    </div>
</div>